header{
background-color: #292828;
text-align: center;
color: #ffffff;
font-family: cursive;

width: 100%;
top: 100px;

}
.logo {
    top: 0;
    position: fixed;
    z-index: 5000;
}

html {
    background-color:#e6e7e9;
}

main {
    position: relative;
    background-color: #292828;
    color: #ffffff;
    text-align: center;
    font-family: cursive;

    
}

.vlast {
display: flex;

}

.vlast img{
width: 200px;
}


.crocks1 {
    text-decoration: overline ;
   color: darkgrey;
}

.crocks2 {
    text-decoration: overline ;
    color: darkgray;
}



.crocks3 {
    text-decoration: overline ;
color: darkgrey;
}


.crocks4 {
    text-decoration: overline ;
    color: darkgrey ;
}


.crocks5 {
text-align: center;
border-radius: 10px;
}

.crocks6 img{
    border-radius: 10px;
}
.crocks6 img:hover{
   transform: scale(1.1);}

.crocks7 img{
border-radius: 10px;
}
.crocks7 img:hover{
   transform: scale(1.1);}

.crocks8 img{
border-radius: 10px;
}
.crocks8 img:hover{
   transform: scale(1.1);}

.crocks9 img {
    border-bottom: 10px;
    border-radius: 10px;
}
.crocks9 img:hover{
   transform: scale(1.1);}

.crocks10 img {
    border-radius: 10px;
}
.crocks10 img:hover{
   transform: scale(1.1);}

.crocks11 img {
    border-radius: 10px;
}
.crocks11 img:hover{
   transform: scale(1.1);}

.crocks12 img {
    border-radius: 10px;
}
.crocks12 img:hover{
   transform: scale(1.1);}

   .product1 h1 {
position: relative;
   bottom: 1px;
   z-index: 10;
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   .product2 h1 {
position: relative;
   bottom: 1px;
   z-index: 10;
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   p {
 font-size: 25px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .product3 h1 {
position: relative;
   bottom: 1px;
   z-index: 10;
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }


    .product4 h1 {
position: relative;
   bottom: 1px;
   z-index: 10;
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
